*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     font-family: "Montserrat", sans-serif;
     color: #4f3527;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
ul,li{
     list-style: none;
    display: flex;
    gap: 55px;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
/* header */
.header {
    padding: 21px 0;
    background-color: #fef7f2;
}
.header .container {
     display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
   max-width: 95px;
   width: 100%;
}
.logo img {
   width: 100%;
}
.navbar  {
  display: flex;
    font-family: "Montserrat", sans-serif;
    justify-content: center;
    margin-left: 145px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; 
}
.nav-link {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #2b1b12;
    transition: all 0.3s ease-in-out;
   list-style: none;
   margin-left: 30px;

}
.nav-link:hover {
    color: brown;
}
.button {
    font-size: 16px;
    border-radius: 8px;
    font-weight: 500;
    color: white;
    background-color: black;
    padding: 8px 12px;
    transition: all 0.3s ease-in-out;
 }
 .button:hover {
    background: #000;
 }
 .browser{
   margin-right: 20px;
    
 }
 .icon{
    color: black;
 }
 .nav-menu{
    display: none;
 }
 .nav-right{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 20px;
 }
 .hero {
    padding: 100px 0px 0px;
    background-color: #FEF7F2;
    position: relative;
 }
 .hero-content{
    display: flex;
 }
 .hero-image{
    width: 60%;
 }
 .hero-image img{
    width: 100%;
    margin-top: -138px;
 }
 .main-heading{
    font-size: 74px;
    font-weight: 800;
    color: #2b1b12;
    max-width: 550px;
    line-height: 70px;
    margin-top: -31px;
 }
 .hero-para{
    font-weight: bold;
    color: #4f3527;
    font-size: 18px;
    line-height: 1.5;
    margin-block: 32px 53px;
    max-width: 413px;
 }
.hero .button{
    padding-inline: 30px;
    padding-block: 12px;
}
.field{
    display: flex;
    background-color: #ddc7bb;
    border-radius: 18px;
    padding: 50px 30px;
    max-width: 1025px;
    
    align-items: center;
    gap: 24px;
    margin: -175px auto 0;
    justify-content: center;
    bottom: 0;
    position: relative;
    
}

.field-content{
    position: relative;
}
.field-content input{
    padding: 20px 15px 15px 58px;
    background-color: #fbf5f1;
    outline: none;
    border: none;
    border-radius: 8px;
    color: #695346;
    font-weight: bold;
    
}
.field{
    flex: 1;
    position: relative;
}
.field .button{
    padding-block: 15px;
    padding-inline: 40px;
}
.field-content i{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: fit-content;
    margin: auto;
    margin-left: 20px;
    color: black;
    padding-right: 22px;
}
.availability{
    margin-top: 144px;
}
.main-block{
    display: flex;
    gap: 106px;
}
.available{
    display: flex;
    gap: 74px;
}
.frame-heading{
     font-family: "Montserrat", sans-serif;
     color: #2b1b12;
     line-height: 1.4;
     font-size: 40px;
     font-weight: bolder;
     max-width: 514px;
}
.frame-description{
    max-width: 527px;
    color: #4f3527;
    font-size: 18px;
    line-height: 1.6;
    font-weight: bold;
    margin-block: 32px 69px;
}
.frame-img img{
    width: 100%;
}
.numbers{
    color: #4f3527;
    font-weight: bold;
    font-size: 48px;
}
.houses{
    color: #4f3527;
    font-weight: 500;
    font-size: 14px;
    max-width: 158px;
}
.frame-content{
    max-width:538px ;
}
.features{
    padding-top: 144px;
}
.facilities{
    text-align: center;
}
.choose{
    font-size: 40px;
    color: #2b1b12;
    font-weight: bolder;
    padding-bottom: 64px;
    max-width:488px;
    margin:0 auto;
    padding-top:56px;
}
 .facility-para{
    font-size: 18px;
    line-height: 1.6;
    font-weight: bold;
    color: #4f3527;
    max-width: 629px;
    justify-content: center;
    margin: 0 auto;
 }
 .feature-cards{
    display: flex;
    justify-content: space-between;
    
    flex-wrap: wrap;
 }
 .facility-card{
    width: 25%;
    background-color: #ddc7bb;
    align-items: center;
    padding: 30px 24px;
    border-radius: 18px;
    max-width: 275px;
    margin-top: 71px;
  
 }
 .feature-icon{
    background-color: #fbf5f1;
    max-width: fit-content;
    padding: 16px;
    border-radius: 10px;
 }
 .feature-icon i{
    font-size: 22px;
 }
 .guidance{
    font-size: 18px;
    line-height: 1.6;
    font-weight: bold;
    color: #2b1b12;
    margin-block: 21px 12px;
 }
 .para{
    line-height: 1.3;
    color: #4f3527;
    font-weight: 600;
    font-size: 16px;
    max-width: 227px;
 }
 .residense{
    padding-top: 144px;
    text-align: center;
 }
 .property-info{
   
    align-items: center;
    gap: 32px;
 }
 .dimension{
    margin-left: 32px;
 }
 .card-1{
    justify-content: center;
 }
 .residense-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
 }

.card-1{
    
    background-color:#ddc7bb ;
    border-radius: 18px;
    overflow: hidden;
    max-width: 382px;
    justify-content: center;
    text-align: center;
    margin-top: 91px;
}
.card-1 img{
    width: 100%;
    height: 300px;
    display: block;
    object-fit: cover;
}
.residense-content{
    margin-block: 22px 21px;
    font-size: 16px;
    font-weight: bold;
    color: #2B1B12;
}
.card-body{
    margin-left:20px;
    text-align:left;

}
.price{
   display: flex;
   gap: 98px;
   justify-content: center;
   margin-top: 25px;
     font-size: 22px;
    font-weight: bold;
    color: #4f3527;
    margin-bottom: 29px;
    margin-right:20px;}

    .residense-cards{
    justify-content: center;
    }
.residense-cards .slick-slide{
    padding: 0px 15px;
}
.residense-cards .card-1{
    margin-top: 91px;
}
.about{
    margin-top: 144px;
    text-align: center;
    background-color:#fef7f2;
    padding-bottom:38px;
}


.stars{
    display:flex;
    background-color:white;
    max-width:59px;
    padding-inline:5px;
    margin-top:-12px;
}
.stars i{
    color:#ffc71e;
}
.about .container{
    width: 100%;
    max-width: 1200px;
}
.about-cards{
     width: 100%;
    }
.about-cards .slick-slide {
    padding: 0 20px;
}
.review-card img{
        max-width:375px;
    border-top-left-radius: 20px;
    border-top-right-radius:20px;
    width: 100%;
    object-fit: cover;
}
.title{
    display:flex;
    gap: 55px;
    margin-right: -55px;
}
.profile {
    width:100%;
    background-color:#ddc7bb;
    margin-top: -18px;
    position: relative;
    padding-top:1px;
    max-width: 382px;
    border-radius:18px;
}

.profile-info{
    display:flex;
    text-align:left;
    align-items:center;
    justify-content:space-between;
    margin-bottom:22px;
    max-width: 382px;
   padding-top: 29px;
}

.review-card{
max-width: 375px;
  padding: 29px 24px 40px 24px;
}
.profile-info img{
width: 58px;
height: 58px;
padding-left: 20px;
}
.rating{
    margin-right:40px;
    background-color:#ffff;
    padding-inline:5px;
    font-size:16px;
    font-weight:600;
    color:#000000;
}
.review{
    max-width: 334px;
    text-align: left;
    padding-left: 24px;
    line-height: 1.3;
    color:#4f3527;
    font-weight:600;
    padding-bottom:40px;
}
.name{
    font-size:20px;
    color:#2b1b12;
    font-weight:bold;
    margin-bottom:4px;
}
.rating i{
    color:#ffc71e
}
.slider-arrows{
    margin-top:62px;
  
}
.prev{
    margin-right:36px;
}
.prev, .next{
    background-color:#2b1b12;
    border-radius:100px;
   max-height:58px;
  max-width:58px;
  align-items:center;
  border: none;
  cursor: pointer;
}
.prev i, .next i{
    color:#ffff;
    padding:15px 40px 19px 19px;
    font-size:24px;
}
.query{
     margin-top: 144px;
    text-align: center;
    background-color:white;
    
}
.question{
    font-size:40px;
    font-weight:bold;
    color:#2b1b12;
    max-width:583px;
    text-align:center;
    margin: 0 auto;
}
.chat{
    display:flex;
    gap:64px;
   margin-block:34px 68px;
   justify-content:center;
}
.browse{
    font-size: 18px;
    font-weight: bold;
    color: #543e32;
}
.email-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.email-field {
    width: 505px;
    height: 62px;
    background-color: #ddc7bb;
    border: 1px solid #b8a1a1;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: center;
}
.email-form{
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 150px;
}
.email-field i {
    color:#543e32 ;
    margin-right: 10px;
}

.email-field input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-size: 18px;
    font-weight: 600;
    color: #543e32;
}

.email-field input::placeholder {

    color:#543e32 ;

}

.email-form button {
    padding-block: 18px;
    width: 156px;
    padding-inline: 44px;
    height: 58px;
    font-weight: 600;
    border: none;
    font-size: 18px;
    border-radius: 8px;
    color: #ffffff;
    background-color: #2b1b12;
}
.footer .logo img{
    max-width: 95px;
}
 .footer {
    background-color: #ddc7bb;
    padding: 70px 0 120px;
}

.footer-container {
    max-width: 1100px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1.2fr;
    gap: 50px;
}

.footer-about {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-right: 80px;
}

.logo {
    font-size: 24px;
    font-weight: 600;
}

.logo span {
    font-size: 35px;
}

.footer-para {
    font-size: 18px;
    line-height: 1.3;
    font-weight: bold;
    color: #4f3527;
    width: 219px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.footer-column h3 {
    color: #2b1b12;
   font-weight: bold;
    font-size: 22px;
}

.footer-column a {
    text-decoration: none;
    color:#4f3527;
    font-size: 18px;
    font-weight: bold;
}
.footer-column i{
    font-size:  24px;
    max-width: 32px;
}

/* responsive max width 992 */
@media (max-width: 992px) {

    .container {
        width: 100%;
    }

    .navbar {
        margin-left: 40px;
        gap: 20px;
    }

    ul, li {
        gap: 25px;
    }

    .nav-link {
        font-size: 16px;
        margin-left: 10px;
    }

    .nav-right {
        gap: 15px;
        margin-right: 0;
    }
    .main-heading{
        font-size: 50px;
    }
    .header .container{
        padding-inline: 10px;
    }
    .hero-headings{
        padding-left: 20px;
    }
    .search-form{
        padding-left: 20px;
    }
    .field {
        width: 90%;
        max-width: 900px;
        margin: -100px auto 0;
        padding: 35px 25px;
        gap: 15px;
    }

    .field-content {
        flex: 1;
        min-width: 0;
    }
    .field-content input {
               width: 100%;
    }
    .field {
        width: 100%;
        max-width: 900px;
        margin: auto 0;
        padding: 35px 25px;
        gap: 15px;
    }

    .field-content {
        flex: 1;
        min-width: 0;
    }

    .field-content input {
        width: 100%;

    }
.frame-img img{
    width: 100%;
    padding-left: 20px;
}
.frame-content{
    padding-right: 10px;
}
.numbers{
    font-size: 38px;
}
.frame-heading{
    font-size: 30px;
}
.frame-description{
    font-size: 16px;
}
.available{
    gap: 30px;
}
   .features {
        padding-top: 100px;
    }

    .choose {
        font-size: 34px;
        padding-bottom: 45px;
    }

    .facility-para {
        font-size: 16px;
        max-width: 600px;
    }

    .feature-cards {
        gap: 25px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        margin-left: 100px;
    }
    .facility-card{
        width: 100%;
       
    }
    /* .about-cards{
            display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 20px;

    } */
    .review{
        font-size: 14px;
    }
    .name{
        font-size: 18px;
    }
.question{
    font-size: 30px;
}
  .browse{
    font-size: 16px;
  }
.footer-container{
        display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 20px;
}
.footer-column a{
    font-size: 16px;
}
}
@media (max-width: 768px){
    .container{
        width: 100%;
    }
    .nav-menu {
        padding: 5px;
        font-size: 24px;
        color: black;
        height: 35px;
        width: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 10;
     }
     .navbar {
        position: absolute;
        right: -400px;;
        top: 0;
        bottom: 0;
        max-width: 0px;
        width: 100%;
        height: 100vh;
        padding: 120px 0 40px;
        background: white;
        color: #000;
        justify-content: start;
        z-index: 5;
        opacity: 0;
        transition: all .6s ease-in-out;
        overflow: hidden;
     }
     .navbar ul {
        flex-direction: column;
        gap: 20px;
     }
     .nav-link {
        padding: 5px 20px;
     }
     .search-form{
        padding-right: 10px;
     }
     .field-content input{
        padding-left: 10px;
     }
     .navbar.active {
        right: 0px;
        opacity: 1;
        max-width: 400px;
     }
     .feature-cards{
        padding-right: 55px;
     }
     .main-heading{
        font-size: 38px;
     }
     .hero-para{
        font-size: 16px;
     }
     .residense-cards{
        margin-bottom: 30px;
     }
     .field{
        margin-top: 100px;
     }
     .main-block{
        flex-direction: column;
        align-items: center;
     }
     /* .about-cards{
            display: flex;
    flex-direction: column;
    align-items: self-start;
     } */
     .frame-img img{
        max-width: 80%;
     }
     .email-field{
        max-width: 350px;
     }
     .email-form button{
        max-width: 100px;
        padding-inline: 10px;
        font-size: 16px;
     }
     .question{
        font-size: 26px;
     }
     .email-field input{
        font-size: 15px;
     }
     .footer-container{
        column-gap: 0px;
     }   
    }

/* max-width 480 */

@media (max-width: 480px) {
    .container {
        width: 90%;
        max-width: 100%;
    }
    .header {
        position: relative;
        z-index: 100;
    }
    
    .header .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .logo {
        max-width: 80px;
    }
    .nav-menu {
        display: flex;
        position: relative;
        z-index: 101;
        cursor: pointer;
        font-size: 24px;
        color: #2b1b12;
       
    }
    .navbar {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        
        height: auto;
        padding: 25px 0;
        margin: 0;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        overflow: visible;
        opacity: 1;
        z-index: 100;
    }
    .navbar.active {
        display: flex;
       background: white;
        width: 100%;
       
    }
    .nav-link {
        font-size: 16px;
        margin-left: 0;
        background: white;
    }
    ul,
    li {
        display: flex;
        flex-direction: column;
        gap: 18px;
        align-items: center;
    }

    .nav-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 18px;
        margin: 20px 0 0;
    }
    .hero {
        padding: 50px 0 0;
    }
    .hero-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .main-heading {
        font-size: 38px;
        line-height: 1.1;
        max-width: 100%;
        margin-top: 0;
    }
     .review-card{
        padding-right: 30px;
     }
    .hero-para {
        font-size: 15px;
        line-height: 1.5;
        max-width: 100%;
        margin: 20px auto 30px;
    }

    .hero .button {
        padding: 12px 25px;
    }
     .residense-cards h3{
    font-size: 16px;
     }
    .hero-image {
        width: 100%;
    }

    .hero-image img {
        width: 100%;
        margin-top: 30px;
    }

    .field {
        width: 90%;
        max-width: 100%;
        margin: -30px auto 0;
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        border-radius: 14px;
    }

    .field-content {
        width: 100%;
        flex: none;
        position: relative;
    }

    .field-content input {
        width: 100%;
        height: 52px;
        padding: 15px 15px 15px 45px;
    }

    .field-content i {
        left: 0;
    }

    .field .button {
        width: 100%;
        height: 52px;
        padding: 12px;
    }

    .availability {
        margin-top: 65px;
    }

    .main-block {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    .frame-content {
        max-width: 100%;
        text-align: center;
    }

    .frame-heading {
        font-size: 28px;
        line-height: 1.3;
        max-width: 100%;
    }

    .frame-description {
        font-size: 15px;
        line-height: 1.5;
        max-width: 100%;
        margin: 20px auto 35px;
    }

    .available {
        display: flex;
        justify-content: center;
        gap: 25px;
    }

    .numbers {
        font-size: 32px;
    }

    .houses {
        font-size: 12px;
        max-width: 130px;
    }

    .frame-img {
        width: 100%;
    }

    .frame-img img {
        width: 100%;
    }
    .features {
        padding-top: 65px;
    }

    .facilities {
        width: 100%;
    }

    .choose {
        font-size: 28px;
        line-height: 1.3;
        max-width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .facility-para {
        font-size: 15px;
        line-height: 1.5;
        max-width: 100%;
    }

    .feature-cards {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        justify-content: center;
    }

    .facility-card {
        width: 100%;
        max-width: 100%;
        margin-top: 0;
        padding: 25px 20px;
    }

    .feature-icon {
        padding: 14px;
    }

    .guidance {
        font-size: 17px;
        margin-block: 18px 10px;
    }

    .para {
        max-width: 100%;
        font-size: 15px;
    }

    .residense {
        padding-top: 65px;
    }

    .property-info {
        width: 100%;
    }

    .dimension {
        margin-left: 0;
    }

    .residense-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }
    .card-1 img {
        width: 100%;
        height: 260px;
        object-fit: cover;
    }

    .residense-content {
        font-size: 16px;
        margin-block: 20px;
    }

    .card-body {
        margin-left: 15px;
    }

    .price {
        gap: 40px;
        margin-right: 15px;
        font-size: 19px;
        margin-top: 20px;
        margin-bottom: 25px;
    }

    .about {
        margin-top: 65px;
        padding-bottom: 30px;
    }

    .about .container {
        width: 90%;
    }

    /* .about-cards {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
        justify-content: center;
    } */

    .about-cards .review-card {
        margin: 0;
    }

    .review-card {
        width: 100%;
        max-width: 100%;
    }
    
    .profile-content {
        margin-left: 0;
    }

    .rating {
        margin-right: 15px;
    }

    .name {
        font-size: 18px;
    }

    .review {
        width: 100%;
        max-width: 100%;
        padding: 0 20px 30px;
        font-size: 14px;
    }

    .slider-arrows {
        margin-top: 35px;
    }

    .prev {
        margin-right: 15px;
    }

    .prev i,
    .next i {

        font-size: 20px;
    }

    .prev,
    .next {
        width: 50px;
        height: 50px;
    }

    .query {
        margin-top: 65px;
    }

    .question {
        width: 100%;
        max-width: 100%;
        font-size: 28px;
        line-height: 1.3;
    }

    .chat {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-block: 25px 40px;
    }

    .browse {
        font-size: 15px;
    }

    .email-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 65px;
    }

    .email-field {
        width: 100%;
        height: 55px;
        padding: 0 15px;
    }

    .email-field input {
        font-size: 15px;
    }

    .email-form button {
        width: 100%;
        height: 55px;
        padding: 12px;
        font-size: 16px;
    }

    .footer {
        padding: 45px 0 60px;
    }

    .footer-container {
        width: 90%;
        max-width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 35px;
    }

    .footer-about {
        margin-right: 0;
        gap: 20px;
    }

    .footer .logo img {
        max-width: 80px;
    }

    .footer-para {
        width: 100%;
        max-width: 280px;
        font-size: 16px;
        line-height: 1.4;
    }

    .footer-column {
        gap: 18px;
    }

    .footer-column h3 {
        font-size: 20px;
    }

    .footer-column a {
        font-size: 15px;
    }

    .footer-column i {
        font-size: 20px;
    }

}